/* FONTS
    font-family: 'Courier Prime', monospace;
    font-family: 'Raleway', sans-serif;
    font-family: 'Dancing Script', cursive;

    /* Global styles
------------------------------------*/
:root {
  --raincloud: #343434;
  --whitemocha: #fcfaf9;
  --champagnepink: #f7e1d7;
  --cedarchest: #ba6355;
  --mahogany: #91473b;
  --minty: #dedbd2;
  --morninggreen: #8ba78d;
  --deepseagreen: #4a5759;
  --boxShadow: 0 20px 25px -10px rgba(0, 0, 0, 0.1),
    0 10px 10px -10px rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

[v-cloak] {
  display: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* RECIPES APP */
#recipeApp header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#recipeApp .navbar {
  align-self: center;
}

#recipeApp .navbar ul {
  display: flex;
}

#recipeApp .navbar ul li {
  margin-left: 20px;
  list-style-type: none;
  font-size: 1.3em;
  align-self: center;
  position: relative;
}

#recipeApp .navbar button {
  padding: 10px 20px;
  background-color: var(--morninggreen);
  color: var(--whitemocha);
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--deepseagreen);
  font-weight: bolder;
}

#recipeApp .navbar button:hover {
  background-color: #759177;
  transform: translateY(-2px);
}

.shopping-cart {
  cursor: pointer;
}

.shopping-cart-counter {
  content: "";
  position: absolute;
  top: 1px;
  right: 5px;
  width: 15px;
  height: 15px;
  background-color: var(--raincloud);
  color: white;
  border-radius: 100%;
  margin: 0;
  font-size: 0.5em;
  text-align: center;
  line-height: 1.4;
  cursor: pointer;
}

.filter-list {
  margin: 20px 0 35px 0;
  padding-left: 0;
  display: flex;
  column-gap: 20px;
  overflow: scroll;
}

.filter-list .filter {
  list-style-type: none;
  border: 1px solid black;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.filter-list .filter p {
  margin: 0;
  align-self: center;
}

.filter-list .filter-close {
  margin-left: 10px;
  cursor: pointer;
  font-weight: bolder;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details summary {
  padding: 20px 0;
  padding-left: 30px;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.8em;
  font-weight: bolder;
  list-style: none;
  color: var(--deepseagreen);
  outline: none;
  letter-spacing: 2px;
  user-select: none;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  left: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
}

details[open] summary ~ * {
  animation: openSummary 0.8s ease;
}

#recipes {
  min-height: 80vh;
}

.recipe-type-items {
  margin: 10px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
  padding: 0 30px;
}

.recipe-item {
  background-color: var(--whitemocha);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
  width: 275px;
}

.recipe-item:hover {
  transform: translateY(-10px);
  box-shadow: var(--boxShadow);
}

.recipe-item:hover .hover-information {
  opacity: 1;
}

.recipe-spotlight {
  position: relative;
  cursor: pointer;
  height: 250px;
}

.recipe-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-item .hover-information {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #343434be;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bolder;
  color: var(--whitemocha);
}

.recipe-item .hover-information p {
  width: 50%;
  text-align: center;
}

.recipe-item .recipe-details {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.recipe-item .recipe-title {
  margin: 0;
  letter-spacing: 0px;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
  align-self: center;
}

.recipe-item .elipses {
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.recipe-item .addToIngredientListButton {
  background: none;
  border: solid 1px var(--deepseagreen);
  color: var(--deepseagreen);
  cursor: pointer;
  display: inline-block;
  font-size: 0.75em;
  outline: none;
  padding: 3px 5px;
  margin-left: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.added-to-cart {
  background-color: var(--morninggreen) !important;
  color: var(--whitemocha) !important;
  cursor: unset !important;
}

.modal-backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.753);
}

.modal-backdrop-light {
  background-color: rgba(37, 37, 37, 0.25);
}

#recipeApp footer {
  background-color: var(--deepseagreen);
  margin: 0;
  margin-top: 80px;
  padding: 30px;
  text-align: center;
}

#recipeApp footer p {
  margin: 0;
  color: var(--whitemocha);
}

/* ANIMATIONS */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-enter-active {
  animation: slide 0.5s;
}
.slide-leave-active {
  animation: slide 0.5s reverse;
}

/* KEYFRAMES */
@keyframes openSummary {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
