/* VIEW RECIPE MODAL */
.recipe-popout {
  background-color: var(--deepseagreen);
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 1200px;
  height: 80vh;
  overflow: scroll;
  z-index: 999;
  border-radius: 10px;
  box-sizing: border-box;
}

.translucent-dark-background {
  background-color: #6d7576c4;
  padding: 15px;
  border-radius: 7px;
}

.recipe-popout .heading {
  margin: 0;
  font-size: 3em;
  font-weight: lighter;
  color: var(--whitemocha);
}

.recipe-popout .info-and-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.recipe-popout .recipe-info {
  display: flex;
}

.recipe-popout .recipe-info h3 {
  margin: 0;
}

.recipe-popout .recipe-info h3:first-of-type {
  padding-right: 10px;
  border-right: 2px solid var(--whitemocha);
}

.recipe-popout .recipe-info h3:nth-of-type(2) {
  padding-left: 10px;
}

.recipe-popout img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: auto;
  display: block;
}

.recipe-popout hr {
  margin: 30px 0;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--whitemocha),
    var(--champagnepink),
    var(--whitemocha)
  );
  height: 1px;
}

.recipe-popout .ingredients-list {
  padding-left: 20px;
  max-height: 300px;
  overflow: scroll;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.recipe-popout .ingredients-list li {
  list-style-type: none;
  position: relative;
  color: var(--whitemocha);
  line-height: 25px;
  letter-spacing: 1.15px;
  align-self: center;
  padding-left: 7px;
  margin-bottom: 10px;
}

.recipe-popout .ingredients-list li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 2px;
  background-color: var(--whitemocha);
  top: 50%;
  left: -15px;
}

.recipe-popout .directions ul {
  padding-left: 10px;
  max-height: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.recipe-popout .directions ul li,
.recipe-popout .directions p {
  color: var(--whitemocha);
  margin: 15px 0;
  line-height: 20px;
  letter-spacing: 1.1px;
  list-style-type: none;
}

/* ADD RECIPE MODAL */
label {
  display: flex;
}

.addFormContainer,
.editFormContainer {
  border-radius: 8px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #f6f7fc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 900px;
  z-index: 999;
  height: 85vh;
  overflow: scroll;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.formTitle {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.addFormContainer input,
.addFormContainer select,
.addFormContainer textarea,
.editFormContainer input,
.editFormContainer select,
.editFormContainer textarea {
  background: white;
  border: none;
  color: #474544;
  font-size: 17px;
  letter-spacing: 1px;
  margin: 10px 0 25px 0;
  padding: 15px 10px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
}

textarea {
  line-height: 25px;
  height: 350px;
  resize: none;
  overflow: scroll;
  font: inherit;
}

.add-recipe-button,
.delete-recipe-button,
.submit-ingredient-button,
.close-button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.add-recipe-button:hover,
.submit-ingredient-button:hover {
  background: #474544;
  color: #f2f3eb;
}

.close-button:hover,
.delete-recipe-button:hover {
  background: #df4924;
  color: #f2f3eb;
  border-color: #df4924;
}

/* TOAST MESSAGE */
.toast {
  background-color: #ffd3e2;
  color: #df3670;
  position: fixed;
  min-width: 150px;
  top: 30px;
  right: 30px;
  box-sizing: border-box;
  padding: 3px 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 999;
}

/* INGREDIENT SHOPPING SIDEBAR */
.ingredients-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 990;
  height: 100vh;
  width: 35%;
  min-width: 325px;
  max-width: 400px;
  border-radius: 10px 0 0 10px;
  background-color: #f4f4f4;
  transition: all 0.3s ease-in-out;
}

.ingredients-sidebar .cart {
  padding: 0 20px;
}

.ingredients-sidebar .cart li {
  margin-bottom: 10px;
}

.cart-recipe {
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
}

.cart-recipe img {
  object-fit: cover;
  /* Same as width in component */
  height: 75px;
}

.cart-recipe .remove-from-cart {
  text-align: center;
  align-self: center;
  padding: 5px;
  cursor: pointer;
}

.ingredient-shopping-list {
  padding: 20px;
  max-height: 600px;
  overflow: scroll;
}

.ingredient-shopping-list li {
  list-style-type: disclosure-closed;
  margin-left: 20px;
  padding-left: 10px;
  margin-bottom: 15px;
}

/* TOOLTIPS */
.tooltip {
  position: relative;
  margin-left: 10px;
  font-size: 15px;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-20%);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid black;
}

.tooltip:hover {
  cursor: help;
}

.tooltip-spacing {
  height: 15px;
  position: relative;
  width: 15px;
}

.tooltip-text {
  margin: 0;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-left: 1.5px;
}

.tooltip-text::after {
  content: attr(tooltip-text);
  background-color: rgb(105, 105, 105);
  color: white;
  position: absolute;
  left: 20px;
  top: -2px;
  white-space: nowrap;
  padding: 4px 7px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: lighter;
  border-radius: 3px;
  display: none;
  animation: 0.4s showToolTip ease;
}

.tooltip:hover .tooltip-text::after {
  display: block;
}

@keyframes showToolTip {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
