.recipe-popout {
  background-color: var(--deepseagreen);
  padding: 30px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 999;
}

.recipe-popout .heading {
  margin: 0;
  font-size: 3em;
  font-weight: lighter;
  color: var(--whitemocha);
}

.recipe-popout .info_and_image_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.recipe-popout .recipe-info {
  display: flex;
}

.recipe-info h3 {
  margin: 0;
}

.recipe-info h3:first-of-type {
  padding-right: 10px;
  border-right: 2px solid var(--whitemocha);
}

.recipe-info h3:nth-of-type(2) {
  padding-left: 10px;
}

.recipe-popout img {
  width: 90%;
  max-width: 400px;
  margin: auto;
  display: block;
}

.recipe-popout hr {
  margin: 40px 0;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--whitemocha),
    var(--champagnepink),
    var(--whitemocha)
  );
  height: 1px;
}

.ingredients-list {
  padding-left: 20px;
  columns: 2;
}

.ingredients-list li {
  list-style-type: none;
  position: relative;
  color: var(--whitemocha);
  line-height: 20px;
  letter-spacing: 1.5px;
  margin: 5px 0;
}

.ingredients-list li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 2px;
  background-color: var(--whitemocha);
  top: 50%;
  left: -15px;
}

.directions ol {
  padding-left: 22px;
}

.directions ol li {
  color: var(--whitemocha);
  margin: 5px 0;
  line-height: 20px;
  letter-spacing: 1.1px;
}
