@media (min-width: 992px) {
}

@media screen and (max-width: 900px) {
  .recipe-popout {
    width: 85%;
  }
  .recipe-popout img {
    max-width: 300px;
  }
}

@media screen and (max-width: 750px) {
  .recipe-popout {
    max-width: 500px;
  }
  .recipe-popout img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: auto;
    display: block;
  }
  .ingredients-sidebar .close-button {
    padding: 10px !important;
    width: 150px !important;
    margin: 10px auto;
  }
}

@media screen and (max-width: 551px) {
  #recipeApp header {
    flex-direction: column;
  }
  .recipe-popout {
    padding: 25px;
  }
  .recipe-popout .info-and-image-grid {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .recipe-popout img {
    width: 100%;
  }
  .recipe-info-container {
    order: 2;
  }
  .recipe-popout .directions ul {
    max-height: 400px;
  }
  #recipeApp .navbar ul {
    padding-left: 0;
  }
  #recipeApp .navbar ul li {
    margin: 0;
  }
  #recipeApp .navbar ul li button {
    transform: scale(0.85);
  }
  .addFormContainer,
  .editFormContainer {
    padding: 25px;
  }
  .tooltip-text::after {
    left: -93px;
    top: -40px;
    width: 260px;
    white-space: unset;
    text-align: left;
  }
  .two-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .recipe-item {
    width: 100% !important;
  }
}
